# Python virtual environment
myenv/
venv/
env/
.env
.env
models/nnunet

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

#large nifti files
models/nnunet/input_dir/